[submodule "Lab-1-Hello"]
	path = Lab-1-Hello
	url = https://github.com/pateldeep08/Lab-1-Hello.git
[submodule "Lab-2-Express"]
	path = Lab-2-Express
	url = https://github.com/pateldeep08/Lab-2-Express.git
[submodule "Lab-3-Typescript"]
	path = Lab-3-Typescript
	url = https://github.com/pateldeep08/Lab-3-Typescript.git
[submodule "Lab-4-Storage"]
	path = Lab-4-Storage
	url = https://github.com/pateldeep08/Lab-4-Storage.git
[submodule "Lab-2-TypeScript"]
	path = Lab-2-TypeScript
	url = https://github.com/pateldeep08/Lab-2-TypeScript.git
[submodule "Lab-3-Storage"]
	path = Lab-3-Storage
	url = https://github.com/pateldeep08/Lab-3-Storage.git
